# Commodities

In [51]:
import requests
import pandas as pd

# USDA API Key
API_KEY = "GA0LAyk7zcLgEjKMdSfOIOl7GJmL4wRleIlflcfp"

# Base URL
BASE_URL = "https://api.fas.usda.gov"

# Parameters for request
params = {"api_key": API_KEY}
ENDPOINT = f"/api/esr/commodities"

response = requests.get(BASE_URL + ENDPOINT, params=params)

if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
    commodities = pd.concat(
        [
            df[df["commodityName"].str.contains("corn", case=False)],
            df[df["commodityName"].str.contains("soybean", case=False)],
            df[df["commodityName"].str.contains("wheat", case=False)]
        ],
        ignore_index=True,
    )
else:
    print(f"Error: {response.status_code}, {response.text}")

commodities

    commodityCode        commodityName  unitId
0             401                 Corn       1
1             801             Soybeans       1
2             901  Soybean cake & meal       1
3             902          Soybean Oil       1
4             101          Wheat - HRW       1
5             102          Wheat - SRW       1
6             103          Wheat - HRS       1
7             104        Wheat - White       1
8             105        Wheat - Durum       1
9             106        Wheat - Mixed       1
10            107            All Wheat       1
11            201       Wheat Products       1

# Countries

In [52]:
ENDPOINT = f"/api/esr/countries"
response = requests.get(BASE_URL + ENDPOINT, params=params)

if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
    countries = pd.concat(
        [
            df[df["countryName"].str.contains("mexico", case=False)],
            df[df["countryName"].str.contains("european", case=False)],
            df[df["countryName"].str.contains("japan", case=False)],
            df[df["countryName"].str.contains("china", case=False)],
        ],
        ignore_index=True,
    )
else:
    print(f"Error: {response.status_code}, {response.text}")

countries

   countryCode countryName               countryDescription  regionId gencCode
0         2010    MEXICO    MEXICO                                 11      MEX
1            1    EUROPEAN   EUROPEAN UNION - 27                    1     None
2         5880    JAPAN     JAPAN                                   5      JPN
3         5700    CHINA     CHINA, PEOPLES REPUBLIC OF              7      CHN

# Units

In [53]:
unit_ids = [1]

ENDPOINT = f"/api/esr/unitsOfMeasure"
response = requests.get(BASE_URL + ENDPOINT, params=params)

if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
    units = df[df["unitId"].isin(unit_ids)]
else:
    print(f"Error: {response.status_code}, {response.text}")

units

   unitId    unitNames
0       1  Metric Tons

# Release Dates (Thursdays)

In [54]:
ENDPOINT = f"/api/esr/datareleasedates"
response = requests.get(BASE_URL + ENDPOINT, params=params)

if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
    dates = df[df["commodityCode"].isin(commodities["commodityCode"])]
else:
    print(f"Error: {response.status_code}, {response.text}")

dates.head(5)

,commodityCode,marketYearStart,marketYearEnd,marketYear,releaseTimeStamp
0,101,2025-06-01T00:00:00,2026-05-31T00:00:00,2026,2026-01-08T00:00:00
1,102,2025-06-01T00:00:00,2026-05-31T00:00:00,2026,2026-01-08T00:00:00
2,103,2025-06-01T00:00:00,2026-05-31T00:00:00,2026,2026-01-08T00:00:00
3,104,2025-06-01T00:00:00,2026-05-31T00:00:00,2026,2026-01-08T00:00:00
4,105,2025-06-01T00:00:00,2026-05-31T00:00:00,2026,2026-01-08T00:00:00