# Commodities

In [54]:
import requests
import pandas as pd

# USDA API Key
API_KEY = "GA0LAyk7zcLgEjKMdSfOIOl7GJmL4wRleIlflcfp"

# Base URL
BASE_URL = "https://api.fas.usda.gov"

# Parameters for request
params = {"api_key": API_KEY}
ENDPOINT = f"/api/psd/commodities"

response = requests.get(BASE_URL + ENDPOINT, params=params)

if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
    commodities = pd.concat(
        [
            df[df["commodityName"].str.contains("corn", case=False)],
            df[df["commodityName"].str.contains("soybean", case=False)],
            df[df["commodityName"].str.contains("wheat", case=False)]
        ],
        ignore_index=True,
    )
else:
    print(f"Error: {response.status_code}, {response.text}")

commodities

  commodityCode             commodityName
0       0440000                      Corn
1       0813100             Meal, Soybean
2       0813101     Meal, Soybean (Local)
3       4232000              Oil, Soybean
4       4232001      Oil, Soybean (Local)
5       2222000          Oilseed, Soybean
6       2222001  Oilseed, Soybean (Local)
7       0410000                     Wheat

# Countries

In [55]:
ENDPOINT = f"/api/psd/countries"
response = requests.get(BASE_URL + ENDPOINT, params=params)

if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
    countries = pd.concat(
        [
            df[df["countryName"].str.contains("world", case=False)],
            df[df["countryName"].str.contains("united states", case=False)],
            df[df["countryName"].str.contains("mexico", case=False)],
            df[df["countryName"].str.contains("european", case=False)],
            df[df["countryName"].str.contains("japan", case=False)],
            df[df["countryName"].str.contains("china", case=False)],
        ],
        ignore_index=True,
    )
else:
    print(f"Error: {response.status_code}, {response.text}")

countries

  countryCode     countryName regionCode gencCode
0          US   United States        R01      USA
1          MX          Mexico        R01      MEX
2          E4  European Union        R05     None
3          JA           Japan        R18      JPN
4          CH           China        R18      CHN

In [56]:
unit_ids = [4, 8, 23, 26]

ENDPOINT = f"/api/psd/unitsOfMeasure"
response = requests.get(BASE_URL + ENDPOINT, params=params)

if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
    units = df[df["unitId"].isin(unit_ids)]
else:
    print(f"Error: {response.status_code}, {response.text}")

units

    unitId       unitDescription
3        4  (1000 HA)
7        8  (1000 MT)
22      23  (PERCENT)
25      26  (MT/HA)

# Attributes

In [ ]:
attribute_ids = [4, 181, 81, 84, 86, 88, 113, 130, 192, 125, 176, 178, 184, 57, 28, 20, 140, 7, 149, 161, 194]

ENDPOINT = f"/api/psd/commodityAttributes"
response = requests.get(BASE_URL + ENDPOINT, params=params)

if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
    attributes = df[df["attributeId"].isin(attribute_ids)]
else:
    print(f"Error: {response.status_code}, {response.text}")

attributes

    attributeId          attributeName
1             4         Area Harvested
4             7                  Crush
5            20       Beginning Stocks
9            28             Production
23           57                Imports
32           81             TY Imports
34           84      TY Imp. from U.S.
35           86           Total Supply
36           88                Exports
43          113             TY Exports
49          125   Domestic Consumption
52          130  Feed Dom. Consumption
58          140  Industrial Dom. Cons.
62          149    Food Use Dom. Cons.
69          161  Feed Waste Dom. Cons.
76          176          Ending Stocks
77          178     Total Distribution
78          181   Extr. Rate, 999.9999
81          184                  Yield
82          192        FSI Consumption
83          194                    SME