# Commodities

In [37]:
import requests
import pandas as pd

# USDA API Key
API_KEY = "GA0LAyk7zcLgEjKMdSfOIOl7GJmL4wRleIlflcfp"

# Base URL
BASE_URL = "https://api.fas.usda.gov"

# Parameters for request
params = {"api_key": API_KEY}
ENDPOINT = f"/api/psd/commodities"

response = requests.get(BASE_URL + ENDPOINT, params=params)

if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
    commodities = pd.concat(
        [
            df[df["commodityName"].str.contains("corn", case=False)],
            df[df["commodityName"].str.contains("soybean", case=False)],
            df[df["commodityName"].str.contains("wheat", case=False)]
        ],
        ignore_index=True,
    )
else:
    print(f"Error: {response.status_code}, {response.text}")

commodities

  commodityCode             commodityName
0       0440000                      Corn
1       0813100             Meal, Soybean
2       0813101     Meal, Soybean (Local)
3       4232000              Oil, Soybean
4       4232001      Oil, Soybean (Local)
5       2222000          Oilseed, Soybean
6       2222001  Oilseed, Soybean (Local)
7       0410000                     Wheat

# Countries

In [38]:
ENDPOINT = f"/api/psd/countries"
response = requests.get(BASE_URL + ENDPOINT, params=params)

if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
    countries = pd.concat(
        [
            df[df["countryName"].str.contains("world", case=False)],
            df[df["countryName"].str.contains("united states", case=False)],
            df[df["countryName"].str.contains("mexico", case=False)],
            df[df["countryName"].str.contains("european", case=False)],
            df[df["countryName"].str.contains("japan", case=False)],
            df[df["countryName"].str.contains("china", case=False)],
        ],
        ignore_index=True,
    )
else:
    print(f"Error: {response.status_code}, {response.text}")

countries

  countryCode     countryName regionCode gencCode
0          US   United States        R01      USA
1          MX          Mexico        R01      MEX
2          E4  European Union        R05     None
3          JA           Japan        R18      JPN
4          CH           China        R18      CHN

In [45]:
ENDPOINT = f"/api/psd/unitsOfMeasure"
response = requests.get(BASE_URL + ENDPOINT, params=params)

if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
else:
    print(f"Error: {response.status_code}, {response.text}")

df

    unitId       unitDescription
0        1  (1000 BUSHES)
1        2  (1000 60 KG BAGS)
2        3  (1000 COLONIES)
3        4  (1000 HA)
4        5  (1000 HEAD)
5        6  (1000 HL)
6        7  (1000 MT CWE)
7        8  (1000 MT)
8        9  (1000 PCS)
9       10  (1000 TREES)
10      11  (Dec. Fraction)
11      12  (HA)
12      13  (HECTARES)
13      14  (KG)
14      15  (MIL HEAD)
15      16  (MIL PCS)
16      17  (MILLION TREES)
17      18  (MT RAW EQ)
18      19  (MT RAW EW)
19      20  (MT RE)
20      21  (MT)
21      22  (MT, Net Weight)
22      23  (PERCENT)
23      24  (RATIO)
24      25  (1000 CUBIC METERS)
25      26  (MT/HA)
26      27  1000 480 lb. Bales
27      28  (Bales/HA)
28      29  (KG/HA)
29      30  ACRES
30      31  BUSHELS
31      32  HUNDREDWEIGHT
32      33  MILLING RATE
33      34  BUSHELS/TON
34      35  IMPORT MILLING RATE
35      36  Bushels
36      37  SHORT TONS
37      38  MILLION LBS
38      39  BILLION LBS
39      40  (HEAD)
40      41  (PEOPLE)
41      42  (MONTHS)

# Attributes

In [46]:
ENDPOINT = f"/api/psd/commodityAttributes"
response = requests.get(BASE_URL + ENDPOINT, params=params)

if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
else:
    print(f"Error: {response.status_code}, {response.text}")

df

    attributeId           attributeName
0             1            Area Planted
1             4          Area Harvested
2             5     Catch For Reduction
3             6            Cows In Milk
4             7                   Crush
5            20        Beginning Stocks
6            22    Sow Beginning Stocks
7            23  Dairy Cows Beg. Stocks
8            25   Beef Cows Beg. Stocks
9            28              Production
10           29      Arabica Production
11           30   Beet Sugar Production
12           31   Commercial Production
13           32    Cows Milk Production
14           33  Farm Sales Weight Prod
15           34       Filter Production
16           43   Cane Sugar Production
17           47    Non-Comm. Production
18           48   Non-Filter Production
19           49   Other Milk Production
20           53      Robusta Production
21           54        Rough Production
22           56        Other Production
23           57                 Imports
24           58            Bean Imports
25           62        Intra-EU Imports
26           63       MY Imp. from U.S.
27           64             Raw Imports
28           65       U.S. Leaf Imports
29           71           Other Imports
30           74   Refined Imp.(Raw Val)
31           75  Roast & Ground Imports
32           81              TY Imports
33           82         Soluble Imports
34           84       TY Imp. from U.S.
35           86            Total Supply
36           88                 Exports
37           89             Raw Exports
38           90            Bean Exports
39           94        Intra EU Exports
40           99   Refined Exp.(Raw Val)
41          104           Other Exports
42          107  Roast & Ground Exports
43          113              TY Exports
44          114         Soluble Exports
45          117         Total Slaughter
46          118           Cow Slaughter
47          121           Sow Slaughter
48          122          Calf Slaughter
49          125    Domestic Consumption
50          126     Total Disappearance
51          128   Dom. Leaf Consumption
52          130   Feed Dom. Consumption
53          131  Fluid Use Dom. Consum.
54          132          For Processing
55          133  Fresh Dom. Consumption
56          135  Fresh Dom. Consumption
57          139  Human Dom. Consumption
58          140   Industrial Dom. Cons.
59          141  Rst,Ground Dom. Consum
60          142            Domestic Use
61          147     Factory Use Consum.
62          149     Food Use Dom. Cons.
63          150                    Loss
64          151     Other Disappearance
65          152       Other Use, Losses
66          154      Soluble Dom. Cons.
67          155    U.S. Leaf Dom. Cons.
68          158   Feed Use Dom. Consum.
69          161   Feed Waste Dom. Cons.
70          167     Other Foreign Cons.
71          169  Withdrawal From Market
72          172       Loss and Residual
73          173     Total Disappearance
74          174               Total Use
75          175       Total Utilization
76          176           Ending Stocks
77          178      Total Distribution
78          181    Extr. Rate, 999.9999
79          182    Milling Rate (.9999)
80          183      Seed to Lint Ratio
81          184                   Yield
82          192         FSI Consumption
83          194                     SME
84          195           Stocks-to-Use