In [1]:
import requests
import pandas as pd

# USDA API Key
API_KEY = "GA0LAyk7zcLgEjKMdSfOIOl7GJmL4wRleIlflcfp"

# Base URL
BASE_URL = "https://api.fas.usda.gov"

# Parameters for requests
params = {"api_key": API_KEY}

In [6]:
commodity_code = "0440000"
country_code = "US"
market_year = "2025"

ENDPOINT = f"/api/psd/commodity/{commodity_code}/country/{country_code}/year/{market_year}"

response = requests.get(BASE_URL + ENDPOINT, params=params)
data = pd.DataFrame(response.json())
data

,commodityCode,countryCode,marketYear,calendarYear,month,attributeId,unitId,value
0,0440000,US,2025,2025,12,4,4,36441.0000
1,0440000,US,2025,2025,12,20,8,38905.0000
2,0440000,US,2025,2025,12,28,8,425525.0000
3,0440000,US,2025,2025,12,57,8,635.0000
4,0440000,US,2025,2025,12,81,8,650.0000
5,0440000,US,2025,2025,12,84,8,0.0000
6,0440000,US,2025,2025,12,86,8,465065.0000
7,0440000,US,2025,2025,12,88,8,81284.0000
8,0440000,US,2025,2025,12,113,8,80000.0000
9,0440000,US,2025,2025,12,130,8,154947.0000
10,0440000,US,2025,2025,12,192,8,177300.0000
11,0440000,US,2025,2025,12,125,8,332247.0000
12,0440000,US,2025,2025,12,176,8,51534.0000
13,0440000,US,2025,2025,12,178,8,465065.0000
14,0440000,US,2025,2025,12,184,26,11.6771

In [15]:
# PSD DATA
psd_response = requests.get(BASE_URL + ENDPOINT, params=params)
psd = pd.DataFrame(psd_response.json())

# ATTRIBUTE TABLE
attr_endpoint = "/api/psd/commodityAttributes"
attr_response = requests.get(BASE_URL + attr_endpoint, params=params)
attributes = pd.DataFrame(attr_response.json())

def decipher_attribute(code: int) -> str:
    row = attributes[attributes["attributeId"] == code]
    return row["attributeName"].iloc[0] if not row.empty else "Unknown attributeId"

print(decipher_attribute(4))
print(decipher_attribute(20))
print(decipher_attribute(28))
print(decipher_attribute(57))
print(decipher_attribute(81))
print(decipher_attribute(84))
print(decipher_attribute(86))
print(decipher_attribute(88))
print(decipher_attribute(113))
print(decipher_attribute(130))
print(decipher_attribute(192))
print(decipher_attribute(125))
print(decipher_attribute(176))
print(decipher_attribute(178))
print(decipher_attribute(184))

Area Harvested
Beginning Stocks
Production
Imports
TY Imports
TY Imp. from U.S.
Total Supply
Exports
TY Exports
Feed Dom. Consumption
FSI Consumption
Domestic Consumption
Ending Stocks
Total Distribution
Yield

In [16]:
commodity_code = "2222000"
country_code = "US"
market_year = "2025"

ENDPOINT = f"/api/psd/commodity/{commodity_code}/country/{country_code}/year/{market_year}"

response = requests.get(BASE_URL + ENDPOINT, params=params)
data = pd.DataFrame(response.json())
data

,commodityCode,countryCode,marketYear,calendarYear,month,attributeId,unitId,value
0,2222000,US,2025,2025,12,4,4,32502.0000
1,2222000,US,2025,2025,12,20,8,8614.0000
2,2222000,US,2025,2025,12,28,8,115751.0000
3,2222000,US,2025,2025,12,57,8,544.0000
4,2222000,US,2025,2025,12,86,8,124909.0000
5,2222000,US,2025,2025,12,88,8,44497.0000
6,2222000,US,2025,2025,12,7,8,69536.0000
7,2222000,US,2025,2025,12,149,8,0.0000
8,2222000,US,2025,2025,12,161,8,2991.0000
9,2222000,US,2025,2025,12,125,8,72527.0000
10,2222000,US,2025,2025,12,176,8,7885.0000
11,2222000,US,2025,2025,12,178,8,124909.0000
12,2222000,US,2025,2025,12,184,26,3.5614

In [29]:
print(decipher_attribute(4))
print(decipher_attribute(20))
print(decipher_attribute(28))
print(decipher_attribute(57))
print(decipher_attribute(86))
print(decipher_attribute(88))
print("7", decipher_attribute(7))
print("149", decipher_attribute(149))
print("161", decipher_attribute(161))
print(decipher_attribute(125))
print(decipher_attribute(176))
print(decipher_attribute(178))
print(decipher_attribute(184))

Area Harvested
Beginning Stocks
Production
Imports
Total Supply
Exports
7 Crush
149 Food Use Dom. Cons.
161 Feed Waste Dom. Cons.
Domestic Consumption
Ending Stocks
Total Distribution
Yield

In [30]:
commodity_code = "0813100"
country_code = "US"
market_year = "2025"

ENDPOINT = f"/api/psd/commodity/{commodity_code}/country/{country_code}/year/{market_year}"

response = requests.get(BASE_URL + ENDPOINT, params=params)
data = pd.DataFrame(response.json())
data

,commodityCode,countryCode,marketYear,calendarYear,month,attributeId,unitId,value
0,0813100,US,2025,2025,12,7,8,69536.0000
1,0813100,US,2025,2025,12,181,23,0.7857
2,0813100,US,2025,2025,12,20,8,408.0000
3,0813100,US,2025,2025,12,28,8,54635.0000
4,0813100,US,2025,2025,12,57,8,612.0000
5,0813100,US,2025,2025,12,86,8,55655.0000
6,0813100,US,2025,2025,12,88,8,17418.0000
7,0813100,US,2025,2025,12,140,8,0.0000
8,0813100,US,2025,2025,12,149,8,0.0000
9,0813100,US,2025,2025,12,161,8,37806.0000
10,0813100,US,2025,2025,12,125,8,37806.0000
11,0813100,US,2025,2025,12,176,8,431.0000
12,0813100,US,2025,2025,12,178,8,55655.0000
13,0813100,US,2025,2025,12,194,8,37806.0000

In [33]:
print("140", decipher_attribute(140))
print("181", decipher_attribute(181))
print("194", decipher_attribute(194))

140 Industrial Dom. Cons.
181 Extr. Rate, 999.9999
194 SME

In [35]:
commodity_code = "4232000"
country_code = "US"
market_year = "2025"

ENDPOINT = f"/api/psd/commodity/{commodity_code}/country/{country_code}/year/{market_year}"

response = requests.get(BASE_URL + ENDPOINT, params=params)
data = pd.DataFrame(response.json())
data

,commodityCode,countryCode,marketYear,calendarYear,month,attributeId,unitId,value
0,4232000,US,2025,2025,12,7,8,69536.0000
1,4232000,US,2025,2025,12,181,23,0.1967
2,4232000,US,2025,2025,12,20,8,794.0000
3,4232000,US,2025,2025,12,28,8,13676.0000
4,4232000,US,2025,2025,12,57,8,170.0000
5,4232000,US,2025,2025,12,86,8,14640.0000
6,4232000,US,2025,2025,12,88,8,408.0000
7,4232000,US,2025,2025,12,140,8,7031.0000
8,4232000,US,2025,2025,12,149,8,6418.0000
9,4232000,US,2025,2025,12,161,8,0.0000
10,4232000,US,2025,2025,12,125,8,13449.0000
11,4232000,US,2025,2025,12,176,8,783.0000
12,4232000,US,2025,2025,12,178,8,14640.0000

In [51]:
commodity_code = "0410000"
country_code = "US"
market_year = "2025"

ENDPOINT = f"/api/psd/commodity/{commodity_code}/country/{country_code}/year/{market_year}"

response = requests.get(BASE_URL + ENDPOINT, params=params)
data = pd.DataFrame(response.json())
print(data.dtypes)
data

commodityCode     object
countryCode       object
marketYear        object
calendarYear      object
month             object
attributeId        int64
unitId             int64
value            float64
dtype: object

,commodityCode,countryCode,marketYear,calendarYear,month,attributeId,unitId,value
0,0410000,US,2025,2025,12,4,4,15071.0000
1,0410000,US,2025,2025,12,20,8,23147.0000
2,0410000,US,2025,2025,12,28,8,54010.0000
3,0410000,US,2025,2025,12,57,8,3266.0000
4,0410000,US,2025,2025,12,81,8,3250.0000
5,0410000,US,2025,2025,12,84,8,0.0000
6,0410000,US,2025,2025,12,86,8,80423.0000
7,0410000,US,2025,2025,12,88,8,24494.0000
8,0410000,US,2025,2025,12,113,8,24500.0000
9,0410000,US,2025,2025,12,130,8,3266.0000
10,0410000,US,2025,2025,12,192,8,28141.0000
11,0410000,US,2025,2025,12,125,8,31407.0000
12,0410000,US,2025,2025,12,176,8,24522.0000
13,0410000,US,2025,2025,12,178,8,80423.0000
14,0410000,US,2025,2025,12,184,26,3.5837

In [41]:
commodity_code = "0410000"
market_year = "2025"

ENDPOINT = f"/api/psd/commodity/{commodity_code}/country/all/year/{market_year}"

response = requests.get(BASE_URL + ENDPOINT, params=params)
data = pd.DataFrame(response.json())
us_data = data[data["countryCode"] == "US"]
us_data

,commodityCode,countryCode,marketYear,calendarYear,month,attributeId,unitId,value
1710,0410000,US,2025,2025,12,4,4,15071.0000
1711,0410000,US,2025,2025,12,20,8,23147.0000
1712,0410000,US,2025,2025,12,28,8,54010.0000
1713,0410000,US,2025,2025,12,57,8,3266.0000
1714,0410000,US,2025,2025,12,81,8,3250.0000
1715,0410000,US,2025,2025,12,84,8,0.0000
1716,0410000,US,2025,2025,12,86,8,80423.0000
1717,0410000,US,2025,2025,12,88,8,24494.0000
1718,0410000,US,2025,2025,12,113,8,24500.0000
1719,0410000,US,2025,2025,12,130,8,3266.0000
1720,0410000,US,2025,2025,12,192,8,28141.0000
1721,0410000,US,2025,2025,12,125,8,31407.0000
1722,0410000,US,2025,2025,12,176,8,24522.0000
1723,0410000,US,2025,2025,12,178,8,80423.0000
1724,0410000,US,2025,2025,12,184,26,3.5837

In [45]:
commodity_code = "0440000"
market_year = "2025"

ENDPOINT = f"/api/psd/commodity/{commodity_code}/world/year/{market_year}"

response = requests.get(BASE_URL + ENDPOINT, params=params)
data = pd.DataFrame(response.json())
data

,commodityCode,countryCode,marketYear,calendarYear,month,attributeId,unitId,value
0,0440000,00,2025,2025,12,4,4,2.089880e+05
1,0440000,00,2025,2025,12,20,8,2.933690e+05
2,0440000,00,2025,2025,12,28,8,1.282962e+06
3,0440000,00,2025,2025,12,57,8,1.903680e+05
4,0440000,00,2025,2025,12,81,8,1.902730e+05
5,0440000,00,2025,2025,12,84,8,0.000000e+00
6,0440000,00,2025,2025,12,86,8,1.766699e+06
7,0440000,00,2025,2025,12,88,8,2.051010e+05
8,0440000,00,2025,2025,12,113,8,1.979170e+05
9,0440000,00,2025,2025,12,130,8,8.103630e+05
10,0440000,00,2025,2025,12,192,8,4.720840e+05
11,0440000,00,2025,2025,12,125,8,1.282447e+06
12,0440000,00,2025,2025,12,176,8,2.791510e+05
13,0440000,00,2025,2025,12,178,8,1.766699e+06
14,0440000,00,2025,2025,12,184,26,6.138900e+00

In [46]:
commodity_code = "2222000"
market_year = "2025"

ENDPOINT = f"/api/psd/commodity/{commodity_code}/world/year/{market_year}"

response = requests.get(BASE_URL + ENDPOINT, params=params)
data = pd.DataFrame(response.json())
data

,commodityCode,countryCode,marketYear,calendarYear,month,attributeId,unitId,value
0,2222000,00,2025,2025,12,4,4,143726.0000
1,2222000,00,2025,2025,12,20,8,123235.0000
2,2222000,00,2025,2025,12,28,8,422541.0000
3,2222000,00,2025,2025,12,57,8,186144.0000
4,2222000,00,2025,2025,12,86,8,731920.0000
5,2222000,00,2025,2025,12,88,8,187701.0000
6,2222000,00,2025,2025,12,7,8,365244.0000
7,2222000,00,2025,2025,12,149,8,25876.0000
8,2222000,00,2025,2025,12,161,8,30729.0000
9,2222000,00,2025,2025,12,125,8,421849.0000
10,2222000,00,2025,2025,12,176,8,122370.0000
11,2222000,00,2025,2025,12,178,8,731920.0000
12,2222000,00,2025,2025,12,184,26,2.9399

In [47]:
commodity_code = "0813100"
market_year = "2025"

ENDPOINT = f"/api/psd/commodity/{commodity_code}/world/year/{market_year}"

response = requests.get(BASE_URL + ENDPOINT, params=params)
data = pd.DataFrame(response.json())
data

,commodityCode,countryCode,marketYear,calendarYear,month,attributeId,unitId,value
0,0813100,00,2025,2025,12,7,8,365244.0000
1,0813100,00,2025,2025,12,181,23,0.7848
2,0813100,00,2025,2025,12,20,8,18857.0000
3,0813100,00,2025,2025,12,28,8,286637.0000
4,0813100,00,2025,2025,12,57,8,78299.0000
5,0813100,00,2025,2025,12,86,8,383793.0000
6,0813100,00,2025,2025,12,88,8,81888.0000
7,0813100,00,2025,2025,12,140,8,1370.0000
8,0813100,00,2025,2025,12,149,8,777.0000
9,0813100,00,2025,2025,12,161,8,280934.0000
10,0813100,00,2025,2025,12,125,8,283081.0000
11,0813100,00,2025,2025,12,176,8,18824.0000
12,0813100,00,2025,2025,12,178,8,383793.0000
13,0813100,00,2025,2025,12,194,8,280934.0000

In [48]:
commodity_code = "4232000"
market_year = "2025"

ENDPOINT = f"/api/psd/commodity/{commodity_code}/world/year/{market_year}"

response = requests.get(BASE_URL + ENDPOINT, params=params)
data = pd.DataFrame(response.json())
data

,commodityCode,countryCode,marketYear,calendarYear,month,attributeId,unitId,value
0,4232000,00,2025,2025,12,7,8,365244.0000
1,4232000,00,2025,2025,12,181,23,0.1933
2,4232000,00,2025,2025,12,20,8,6424.0000
3,4232000,00,2025,2025,12,28,8,70609.0000
4,4232000,00,2025,2025,12,57,8,12260.0000
5,4232000,00,2025,2025,12,86,8,89293.0000
6,4232000,00,2025,2025,12,88,8,13351.0000
7,4232000,00,2025,2025,12,140,8,16974.0000
8,4232000,00,2025,2025,12,149,8,52992.0000
9,4232000,00,2025,2025,12,161,8,85.0000
10,4232000,00,2025,2025,12,125,8,70051.0000
11,4232000,00,2025,2025,12,176,8,5891.0000
12,4232000,00,2025,2025,12,178,8,89293.0000

In [49]:
ommodity_code = "0410000"
market_year = "2025"

ENDPOINT = f"/api/psd/commodity/{commodity_code}/world/year/{market_year}"

response = requests.get(BASE_URL + ENDPOINT, params=params)
data = pd.DataFrame(response.json())
data

,commodityCode,countryCode,marketYear,calendarYear,month,attributeId,unitId,value
0,4232000,00,2025,2025,12,7,8,365244.0000
1,4232000,00,2025,2025,12,181,23,0.1933
2,4232000,00,2025,2025,12,20,8,6424.0000
3,4232000,00,2025,2025,12,28,8,70609.0000
4,4232000,00,2025,2025,12,57,8,12260.0000
5,4232000,00,2025,2025,12,86,8,89293.0000
6,4232000,00,2025,2025,12,88,8,13351.0000
7,4232000,00,2025,2025,12,140,8,16974.0000
8,4232000,00,2025,2025,12,149,8,52992.0000
9,4232000,00,2025,2025,12,161,8,85.0000
10,4232000,00,2025,2025,12,125,8,70051.0000
11,4232000,00,2025,2025,12,176,8,5891.0000
12,4232000,00,2025,2025,12,178,8,89293.0000

In [52]:
commodity_code = "0410000"
country_code = "MX"
market_year = "2025"

ENDPOINT = f"/api/psd/commodity/{commodity_code}/country/{country_code}/year/{market_year}"

response = requests.get(BASE_URL + ENDPOINT, params=params)
data = pd.DataFrame(response.json())
print(data.dtypes)
data

commodityCode     object
countryCode       object
marketYear        object
calendarYear      object
month             object
attributeId        int64
unitId             int64
value            float64
dtype: object

,commodityCode,countryCode,marketYear,calendarYear,month,attributeId,unitId,value
0,0410000,MX,2025,2025,12,4,4,320.0000
1,0410000,MX,2025,2025,12,20,8,855.0000
2,0410000,MX,2025,2025,12,28,8,1750.0000
3,0410000,MX,2025,2025,12,57,8,6700.0000
4,0410000,MX,2025,2025,12,81,8,6700.0000
5,0410000,MX,2025,2025,12,84,8,0.0000
6,0410000,MX,2025,2025,12,86,8,9305.0000
7,0410000,MX,2025,2025,12,88,8,100.0000
8,0410000,MX,2025,2025,12,113,8,100.0000
9,0410000,MX,2025,2025,12,130,8,350.0000
10,0410000,MX,2025,2025,12,192,8,8000.0000
11,0410000,MX,2025,2025,12,125,8,8350.0000
12,0410000,MX,2025,2025,12,176,8,855.0000
13,0410000,MX,2025,2025,12,178,8,9305.0000
14,0410000,MX,2025,2025,12,184,26,5.4688