In [26]:
import requests
import pandas as pd

# USDA API Key
API_KEY = "GA0LAyk7zcLgEjKMdSfOIOl7GJmL4wRleIlflcfp"

# Base URL
BASE_URL = "https://api.fas.usda.gov"

# Parameters for requests
params = {"api_key": API_KEY}

In [27]:
ENDPOINT = f"/api/esr/unitsOfMeasure"
response = requests.get(BASE_URL + ENDPOINT, params=params)
data = pd.DataFrame(response.json())
data

   unitId      unitNames
0       1    Metric Tons
1       2  Running Bales
2       3         Pieces
3       4         NUMBER
4       5         Pounds

In [32]:
ENDPOINT = f"/api/psd/unitsOfMeasure"
response = requests.get(BASE_URL + ENDPOINT, params=params)
data = pd.DataFrame(response.json())
print(data.dtypes)
data

unitId              int64
unitDescription    object
dtype: object

    unitId       unitDescription
0        1  (1000 BUSHES)
1        2  (1000 60 KG BAGS)
2        3  (1000 COLONIES)
3        4  (1000 HA)
4        5  (1000 HEAD)
5        6  (1000 HL)
6        7  (1000 MT CWE)
7        8  (1000 MT)
8        9  (1000 PCS)
9       10  (1000 TREES)
10      11  (Dec. Fraction)
11      12  (HA)
12      13  (HECTARES)
13      14  (KG)
14      15  (MIL HEAD)
15      16  (MIL PCS)
16      17  (MILLION TREES)
17      18  (MT RAW EQ)
18      19  (MT RAW EW)
19      20  (MT RE)
20      21  (MT)
21      22  (MT, Net Weight)
22      23  (PERCENT)
23      24  (RATIO)
24      25  (1000 CUBIC METERS)
25      26  (MT/HA)
26      27  1000 480 lb. Bales
27      28  (Bales/HA)
28      29  (KG/HA)
29      30  ACRES
30      31  BUSHELS
31      32  HUNDREDWEIGHT
32      33  MILLING RATE
33      34  BUSHELS/TON
34      35  IMPORT MILLING RATE
35      36  Bushels
36      37  SHORT TONS
37      38  MILLION LBS
38      39  BILLION LBS
39      40  (HEAD)
40      41  (PEOPLE)
41      42  (MONTHS)

In [33]:
PSD_ATTRIBUTE_MAP = {
    4: "Area Harvested",
    7: "Crush",
    20: "Beginning Stocks",
    28: "Production",
    57: "Imports",
    81: "TY Imports",
    84: "TY Imp. from U.S.",
    86: "Total Supply",
    88: "Exports",
    113: "TY Exports",
    125: "Domestic Consumption",
    130: "Feed Dom. Consumption",
    140: "Industrial Dom. Cons.",
    149: "Food Use Dom. Cons.",
    161: "Feed Waste Dom. Cons.",
    176: "Ending Stocks",
    178: "Total Distribution",
    181: "Extr. Rate",
    184: "Yield",
    192: "FSI Consumption",
    194: "SME"
}